<div class="products">
  <div class="title">
    <h1>Products</h1>
    <div class="filter_container">
      <span class="showing_results" [hidden]="isFiltered()"
        >Showing 1-10 of 100 Results</span
      >
      <div class="stick"></div>
      <div class="filter">
        <img
          src="/filter.png"
          alt="filter"
          (click)="toggleFilterDropdown()"
          class="filter_frame"
        />
        <span>Filter</span>
        <div
          class="filter_dropdown"
          *ngIf="showFilterDropdown"
          (click)="$event.stopPropagation()"
          #filterDropdown
        >
          <h3>Select Price</h3>
          <div class="filter_inputs">
            <div class="select_prices">
              <input
                type="number"
                [(ngModel)]="minPrice"
                placeholder="from *"
              />
              <input type="number" [(ngModel)]="maxPrice" placeholder="to *" />
            </div>
            <button (click)="applyFilter()" class="filter_btn">Apply</button>
          </div>
        </div>
      </div>
      <div class="sort">
        <span>{{ sortOptionLabel() }}</span>
        <img
          src="/vector.png"
          alt="vector down"
          (click)="toggleSortDropDown()"
        />
        <div class="sort_dropdown" *ngIf="showSortBy">
          <h3>Sort By</h3>
          <div
            *ngFor="let option of sortOptions"
            (click)="applySort(option.value)"
            class="sort_option"
            #sortDropdown
          >
            {{ option.label }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="products.length > 0; else noProducts" class="products_wrapper">
    <div *ngFor="let product of products" class="card">
      <img src="{{ product.cover_image }}" alt="{{ product.cover_image }}" />
      <div>
        <h3>{{ product.name }}</h3>
        <p>$ {{ product.price }}</p>
      </div>
    </div>
  </div>
  <div class="pagination" *ngIf="!isFiltered() && meta.last_page > 1">
    <img src="/prev.png" (click)="goToPage(currentPage - 1)" class="prev" />
    <ng-container *ngFor="let page of pageNumbers">
      <button
        *ngIf="page !== -1"
        (click)="goToPage(page)"
        [class.active]="page === currentPage"
        class="pages"
      >
        {{ page }}
      </button>
      <span *ngIf="page === -1">...</span>
    </ng-container>

    <button
      class="next"
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === meta.last_page"
    >
      <img src="/next.png" alt="Next" />
    </button>
  </div>
  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
</div>
