<div class="products">
  <div class="title">
    <h1>Products</h1>
    <div class="filter_container">
      <span class="showing_results">Showing 1-10 of 100 Results</span>
      <div class="stick"></div>
      <div class="filter">
        <img src="/filter.png" alt="filter" (click)="toggleFilterDropdown()" />
        <span>Filter</span>
        <div
          class="filter_dropdown"
          *ngIf="showFilterDropdown"
          (click)="$event.stopPropagation()"
        >
          <h3>Select Price</h3>
          <div class="filter_inputs">
            <div class="select_prices">
              <input
                type="number"
                [(ngModel)]="minPrice"
                placeholder="from *"
              />
              <input type="number" [(ngModel)]="maxPrice" placeholder="to *" />
            </div>
            <button (click)="applyFilter()" class="filter_btn">Apply</button>
          </div>
        </div>
      </div>
      <div class="sort">
        <span>Sort By</span>
        <img src="/vector.png" alt="vector down" />
      </div>
    </div>
  </div>
  <div *ngIf="products.length > 0; else noProducts" class="products_wrapper">
    <div *ngFor="let product of products" class="card">
      <img src="{{ product.cover_image }}" alt="{{ product.cover_image }}" />
      <div>
        <h3>{{ product.name }}</h3>
        <p>$ {{ product.price }}</p>
      </div>
    </div>
  </div>
  <div class="pagination" *ngIf="!isFiltered() && meta.last_page > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      Previous
    </button>
    <ng-container *ngFor="let page of pageNumbers">
      <button
        *ngIf="page !== -1"
        (click)="goToPage(page)"
        [class.active]="page === currentPage"
      >
        {{ page }}
      </button>
      <span *ngIf="page === -1">...</span>
    </ng-container>

    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === meta.last_page"
    >
      Next
    </button>
  </div>
  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
</div>
