<div class="checkout_wrapper">
  <h1>Checkout</h1>
  <div>
    <form>
      <div class="name_surname">
        <input type="text" name="name" id="name" placeholder="Name" />
        <input type="text" name="surname" id="surname" placeholder="surname" />
      </div>
      <input type="email" name="email" id="email" placeholder="Email" />
      <div class="name_surname">
        <input type="text" name="adress" id="adress" placeholder="Adress" />
        <input type="number" name="zip" id="zip" placeholder="zip code" />
      </div>
    </form>
  </div>
</div>
