<header>
  <a routerLink="">
    <img src="/Logo.png" alt="main logo" />
  </a>
  <div *ngIf="isLoggedIn; else guest">
    <div class="user">
      <img src="/cart.png" alt="cart" class="cart" (click)="toggleCart()" />
      <app-cart [isCartOpen]="isCartOpen"></app-cart>
      <div class="cart_backdrop" *ngIf="isCartOpen" (click)="closeCart()"></div>
      <img
        [src]="avatarUrl || '/avatar-small.png'"
        alt="small avatar"
        class="avatar"
      />
      <img src="/vector.png" alt="vector down" class="vector" />
    </div>
  </div>
  <ng-template #guest>
    <div class="login">
      <img src="/user.png" alt="user avatar icon" />
      <a routerLink="login">Log In</a>
    </div>
  </ng-template>
</header>
