<div class="register">
  <img src="/login.png" alt="fashin couple walking" class="register_img" />
  <div class="register_form">
    <h1 class="register_title">Register</h1>

    <form>
      <div class="avatar_upload">
        <img
          [src]="avatarPreview || '/avatar-big.png'"
          alt="Avatar"
          class="avatar_preview"
        />
        <div class="avatar_actions">
          <label for="avatarInput" class="upload_label">Upload New</label>
          <input
            type="file"
            id="avatarInput"
            (change)="onFileChange($event)"
            accept="image/*"
            hidden
          />
          <button type="button" class="remove_btn" (click)="removeAvatar()">
            Remove
          </button>
        </div>
      </div>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username *"
        [(ngModel)]="username"
        required
      />
      <input
        type="email"
        name="email"
        placeholder="email *"
        id="email"
        [(ngModel)]="email"
        required
      />
      <input
        type="password"
        placeholder="password *"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
      <input
        type="password"
        placeholder="Password Confirm *"
        id="passwordConfirm"
        name="passwordConfirm"
        [(ngModel)]="password_confirmation"
        required
      />
      <button class="login_btn" (click)="onSubmit()">Register</button>
    </form>
    <div *ngIf="errorMsg" class="error-message">
      {{ errorMsg }}
    </div>
    <div class="not_member">
      <p>Already member ?</p>
      <a routerLink="/login">Log In</a>
    </div>
  </div>
</div>
