<div class="login">
  <img src="/login.png" alt="fashin couple walking" class="login_img" />
  <div class="login_form">
    <h1 class="login_title">Log in</h1>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <input
        type="email"
        placeholder="email *"
        [(ngModel)]="email"
        name="email"
        email
        required
      />
      <input
        type="password"
        placeholder="password *"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button type="submit" class="login_btn">Log In</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="not_member">
      <p>Not a member ?</p>
      <a routerLink="/register">Register</a>
    </div>
  </div>
</div>
